@page "/aboutrazor.html"
@{
    Layout = "_Layout";
}
<h1>Introduce about Razor</h1>
<p>
    Razor is a template engine in .NET framework
    it is a default template engine of ASP.NET MVC
    Razor can render HTML from view (.cshtml).
    Allow to write html and embed code C#
</p>